.btn-primary {
  background: var(--color-primary);

  &:hover {
    background: var(--color-primary);
    filter: brightness(0.8);
  }

  &:active {
    background: var(--color-primary);
  }
}

.btn-danger {
  background: var(--color-danger);
  color: #fff;

  &:hover {
    background: var(--color-danger);
    filter: brightness(0.8);
  }

  &:active {
    background: var(--color-danger);
  }
}
