@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-width: 400px;
  --border: solid 1px #aaa;
  --rounded: 0.5rem;
  --color-background: #f1f1f1;
  --color-primary: #457fca;
  --color-danger: #ce1111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  padding: 1rem 2rem;
}

body {
  background: var(--color-background);
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 0.5rem;
  color: #000;
  user-select: none;
  cursor: pointer;
  border: solid 1px #aaa;
  border-radius: var(--rounded);

  &:hover {
    background: #ddd;
  }

  &:active {
    background: #aaa;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  gap: 0.5rem;
  width: 100%;
  max-width: var(--max-width);

  div {
    padding: 0.5rem;
    border: var(--border);
    border-radius: var(--rounded);
  }

  .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 0.5rem;

    button {
      font-size: 1.5rem;
    }
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }

  button {
    color: #000;
    aspect-ratio: 1 / 1;
    user-select: none;
    cursor: pointer;
    border: solid 1px #aaa;
    border-radius: var(--rounded);

    &:hover {
      background: #ddd;
    }

    &:active {
      background: #aaa;
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
  }
}
